*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    width: 700px;
    min-height: 500px;
    margin: 20px auto ;
    border: 2px solid black
}
h1{
    text-align: center;
}
.left{
    float: left;
    margin-right: 30px
}

select, input[type='text']{
    width: 100%;
    margin-bottom: 5px
}

.right{
    float: left;
}